@import-normalize;
@import 'RecipeList.css'; 
@import 'buttons.css';
@import 'Recipe.css'; 
@import 'IngredientList.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

body {
    background: linear-gradient(135deg,#AE8FC8, #d283ba, #FE4d45);
    background-size: 100% 200%;
    padding: 0;
    margin: 0;
  }

html {
    font-size: 20px;
}

*, *::before, *::after {
    font-family: 'Roboto' !important;
}

.mr-1 {
    margin-right: 5px;
}