.btn {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: inherit;
    border-radius: 30px;
    padding: 5px 20px;
    cursor: pointer;
}

.btn--primary{
    color: black;
    background-color: #eea0d5;
}

.btn--primary:hover{
    background-color:#f79cb7;
}

.btn--danger {
    color: black;
    background-color: rgb(250, 106, 106);
}
.btn--danger:hover {
    color: black;
    background-color: rgb(253, 59, 59);
}